DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/url_shortener

TEST_DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/url_shortener_test

SECRET_KEY=YOUR_SECRET_KEY